<header class="fixed-top">

  <div class="alert p-0 mb-0" style="background-color: rgba(250, 131, 52, 1.0); color: white; border-radius: 0;">
    <span>
      Gostaria de solicitar algum serviço do PRACTICE?
      Conheça o nosso
      <a href="https://mural.practice.uffs.cc/" class="font-weight-bold" target="_blank" style="color: #264653;">mural de solicitações</a>.
    </span>
  </div>

  <nav class="navbar navbar-expand-md navbar-light bg-transparent scrolling-navbar pt-0">
    <div class="container">
      <a class="navbar-brand" href="{{ site.url }}/">
        <img style="width: 180px;" src="{{ site.url }}/images/logo.png" alt="logo">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav11" aria-controls="navbarNav11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav11">
        {% include navigation.html %}
      </div>
    </div>
  </nav>

</header>