<header class="">
  <nav class="navbar navbar-expand-md navbar-light bg-transparent fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="{{ site.url }}/">
        <img style="width: 180px;" src="{{ site.url }}/images/logo.png" alt="logo">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav11" aria-controls="navbarNav11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav11">
        {% include navigation.html %}
      </div>
    </div>
  </nav>
</header>