<div class="col-sm-6" style="float: left;">
    <div class="row m-3">
        <div class="col-5">
            <img src="{{ person.avatar }}" class="card-img-top rounded-circle" alt="Avatarde {{ person.name }}">
        </div>
        <div class="col-7">
            <a href="{{ person.github }}" class="text-dark" target="_blank">
                <h4><strong>{{ person.name }}</strong> <i class="fa fa-github"></i></h4>
            </a>
            <small>{{ person.formation }}</small>
            <small>{{ person.uffs }}</small>
        </div>
    </div>

</div>