<div class="px-2 py-3 mx-auto">
    <div class="mx-auto flex flex-wrap">
      <div class="d-flex align-items-center mx-auto flex-column lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ portfolio.subtitle | capitalize }}</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ portfolio.title }}</h1>
        <p class="leading-relaxed mb-4">{{ portfolio.description }}</p>
        <img alt="Ilustração do projeto" class="w-full object-cover object-center rounded" src="{{ portfolio.image }}">
        {% if portfolio.link %}
            <div class="flex border-t border-gray-200 py-2">
                <span class="ml-auto text-gray-900">
                    <button type="button" class="btn btn-outline-info btn-sm">
                      <a href="{{ portfolio.link }}" class="text-decoration-none w-100" target="_blank">
                        Acessar a live
                      </a>
                    </button>
                </span>
            </div>
            <hr id="quebra" style="width: 100%; height: 1px; background: #ddd;">
            {% endif %}
          </div>
    </div>
  </div>

