<div class="row post-grid-mini">
  <div class="col-1 image">
    <a href="{{ site.url }}{{ post.url }}">
      <img alt="image" class="img-fluid" src="{{ site.url }}{{ post.image.feature }}">
    </a>
  </div>
  <div class="col-11">
    <a href="{{ site.url }}{{ post.url }}" target="_blank">{{ post.title }}</a>
    <p>
      {% if post.description %} 
        {{ post.description | truncate: 100 }}
      {% else %} 
        {{ post.excerpt | strip_html | truncate: 100 }}
      {% endif %}
    </p>
  </div>
</div>
