<div class="row post-grid-mini">
  {% if post.image %}
    <div class="col-1 image">
      <a href="{% if post.web %}{{ post.web }}{% endif %}" {% if post.web %}target="_blank"{% endif %}>
          <img alt="image" class="img-fluid" {% if post.url_image %} src="{{ post.url_image }}" {% else %} src="{{ post.image }}" {% endif %}>
      </a>
    </div>
  {% endif %}
  <div class="col-11">
    <h4>
      {% if post.web %}
        <a href="{{ post.web }}{{ post.url }}" target="_blank">{{ post.title }}</a>
      {% else %}
        {{ post.title }}
      {% endif %}
    </h4>

    {% assign text = post.description %}
    <p>{{ text }}</p>

  </div>
</div>
