<div class="row post-grid-mini">
  <div class="col-1 image">
    <a href="{{ site.url }}{{ post.url }}">
      <img alt="image" class="img-fluid" src="{{ site.url }}{{ post.image.feature }}">
    </a>
  </div>
  <div class="col-11">
    <h4>
      <a href="{{ site.url }}{{ post.url }}" target="_blank">{{ post.title }}</a>
    </h4>
    <p>{{ post.description }}</p>

    {% if post.date %}
      <p class="entry-date date published">
        <time datetime="{{ post.date | date: '%Y-%m-%d' }}" itemprop="datePublished">
          <small>{{ post.date | date: "%d de %B de %Y" }}</small>
        </time>
      </p>
    {% endif %}
  </div>
</div>
