<article class="tile" itemscope itemtype="http://schema.org/Article">
  <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-teaser">
    <img alt="teaser" itemprop="image" src="{% if post.image.teaser and post.image.teaser contains '://' %}{{ post.image.teaser }}{% elsif post.image.teaser %}{{ site.url }}/images/{{ post.image.teaser }}{% else %}{{ site.url }}/images/{{ site.teaser }}{% endif %}" />
  </a>
  {% if post.date %}
    <p class="entry-date date published">
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}" itemprop="datePublished">
        <small>{{ post.date | date: "%d de %B de %Y" }}</small>
      </time>
    </p>
  {% endif %}
  <h2 class="post-title" itemprop="name">
    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
  </h2>
  <p class="post-excerpt" itemprop="description">
    {% if post.description %} 
      {{ post.description }}
    {% else %} 
      {{ post.excerpt | strip_html | truncate: 100 }}
    {% endif %}
  </p>
</article><!-- /.tile -->
