---
layout: default
---


<style>

@media screen and (min-width: 56.25em) {
    #main .inner-wrap {
        margin-right: 3.35765%;
        width: 75%;
    }

}

#main .page-title {
	text-align: center;
}


.wrap {
    max-width: 90em;
}
#main {
	margin: 30px;
}


</style>


<div id="main" role="main" >
	<article class="wrap text-justify" itemscope itemtype="http://schema.org/Article" style="margin-top: 90px;">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image" />
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% include breadcrumbs.html %}
		<div class="page-title">
			<h1 class="mb-3">{{ page.title }}</h1>
			<i>{% include page-meta.html %}</i>
		</div>
		<div class="inner-wrap">
			<div id="content" itemprop="articleBody">
				{% if page.description %}
					<hr />
					<h4>{{ page.description }}</h4>
				{% endif %}
				<hr />
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
				</footer><!-- /.footer -->
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		<div class="mr-4">
			<div class="card">
			  <div class="card-header">
				<h4>Últimas notícias</h4>
			  </div>
			  <div class="card-body">
				<div class="row">
				  <div class="col-12 text-left">
					{% for post in site.categories.noticias limit: 2 %}
						{% include post-grid-mini-latest-news.html %}
					{% endfor %}
				  </div>
				</div>
				<div class="row">
				  <div class="col-12 text-right">
					<a href="/noticias">Ver mais notícias</a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</article><!-- ./wrap -->
</div><!-- /#main -->
